.metadata/
DistributedAgreement/.idea/misc.xml
DistributedAgreement/.idea/workspace.xml
*.class
*.out
*.err
out
bin
*.xml
Writeup/Submission.aux
Writeup/Submission.log
Writeup/Submission.pdf
Writeup/Submission.dvi

